.card-banner-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-banner-button button{
    background-color: #215E00;
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    border-radius: 15px 0 15px 0;
    margin-left: 1.5rem;
}